@page
@model EasyTesting.Web.Pages.Subjects.IndexModel
@{
    ViewData["Title"] = "Subjects";
}

<h2>Subjects</h2>
<ul>
    @foreach (var subject in Model.Subjects)
    {
        <li>@subject.Name</li>
    }
</ul>
