@page
@model EasyTesting.Web.Pages.Questions.CreateModel
@{
    ViewData["Title"] = "Add Question";
}

<h2>Add a New Question</h2>

<form id="questionForm">
    <div>
        <label>Subject:</label>
        <select asp-for="NewQuestion.SubjectId" id="subjectSelect" class="form-control">
            @foreach (var subject in Model.Subjects)
            {
                <option value="@subject.Id">@subject.Name</option>
            }
        </select>
    </div>

    <div>
        <label>Question Text:</label>
        <input type="text" asp-for="NewQuestion.Text" class="form-control" />
    </div>

    <div id="answers">
        <h4>Answers:</h4>
        <!-- Will be dynamically added via JS -->
    </div>

    <button type="button" id="addAnswer">Add Answer</button>
    <button type="submit">Submit</button>
</form>

@section Scripts {
    <script src="~/js/question.js"></script>
}
